{
    "extends": ["@nuxtjs/eslint-config", "@nuxtjs/eslint-config-typescript", "plugin:prettier/recommended"],
    "rules":{
      "no-undef":"off",
      "quotes":"off"
    },
    "parser": "vue-eslint-parser"
  }